.table {
  
   
    
    margin: auto;
    text-align: center;
    width: 
    60%;
    height: 0px;
    table-layout: fixed;


}

.btn-danger  {
    margin-left: 100%;
    margin-top: 5%;
    width: 100%;
   
}

.btn-info {
    margin: auto;
    margin-top: 5%;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    
}

.cor {
    font-style: normal;
    color: rgba(255, 255, 255, 0.701);
    text-align: center;
}
