<h3 class="text-center" class="cor"> Lista de Usuários</h3>
<table class="table table-striped">
<thead>
<tr>
    <th>Login</th>
    <th>Senha</th>
    <th>Nome</th>
    <th>Ativo</th>
    <th> Data de Nascimento </th>
    <th> Data de Cadastro </th>
    <th> Ações </th>

</tr>

</thead>
<tbody>
    <tr *ngFor = "let row of usuarios">
        <td> {{ row.login }} </td>
        <td> {{ row.senha }} </td>
        <td> {{ row.nome }} </td>
        <td> {{ row.ativo }} </td>
        <td> {{ row.dataNascimento }} </td>
        <td> {{ row.dataCadastro }} </td>
        <td>
            <button (click) = "usuarioDetails(row.id)" class="btn btn-info" style="margin-left: 5px"> Informações </button>
            <button  (click) = "updateUsuario(row.id)" class="btn btn-info" style="margin-left: 5px"> Atualizar </button>
            <button (click) = "deleteUsuario(row.id)" class="btn btn-danger" style="margin-left: 5px"> Deletar </button>     
                   
</td>

    </tr>
</tbody>
</table>
