<h3 class="text-center" class="cor"> Detalhes dos Usúarios </h3>



<div class="text-center">
    
    <div class="cor">
        <label class="cor"><b > Login: </b></label>{{ usuario.login}}
    </div>
    <div class="cor">
        <label class="cor"><b> Senha: </b></label>{{ usuario.senha}}
    </div>
    <div class="cor">
        <label class="cor"><b> Nome: </b></label>{{ usuario.nome}}
    </div>
    <div class="cor">
        <label class="cor"><b> Ativo: </b></label>{{ usuario.ativo}}
    </div>
    <div class="cor">
        <label class="cor"><b> Data de Nascimento: </b></label>{{ usuario.dataNascimento}}
    </div>
    <div class="cor">
        <label class="cor"><b> Data de Cadastro: </b></label>{{ usuario.dataCadastro}}
    </div>
    <button  class="btn btn-info"> 
        <a href="usuario-list" routerlink="/usuario-list" routerLinkActive="active" class="nav-link">
        
            Lista de Usuários</a>    
    </button>
   
</div>

