 div {
    width: 70%;
    height: 1000%;
}

.btn-success {
    margin-bottom: 10%;
    width: 30%;
    background-color: black;
}

.cor {
    font-style: normal;
    color: rgba(0, 0, 0, 0.701);
    text-align: center;
}
